body.grad {
  background-image: linear-gradient(to right, rgb(243, 95, 231), coral,rgb(241, 207, 207),rgb(243, 152, 167),pink, rgb(86, 207, 244),rgb(246, 231, 193), rgb(240, 240, 93));
}

#logo {
  max-width: 100%;
}

.thumbnail img {
  width: 70vw;
  
}

.center {
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 68%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.minContainer {
  min-width: 50%;
}

#title {
  font-size: 5rem;
  color: blueviolet;
}

paragraph #welcomeText {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#inputBox {
  text-align: center;
}

/* hides bullet points for input */
#inputs{
  list-style-type: none;
}

.storyContainer{
  max-width: 1136px;
  margin: 20px auto;
  text-align: center;
}
/*.returnButton{
  text-align: center;
  display: block;
} */

.bold{
  font-weight: 600;
}